

 *{
 	box-sizing: border-box;
 	padding: 0;
 	margin: 0;
 }

 body{

 	background-color: #f2ebe3;
 	font-size: 0.85em;
 	overflow-y: auto;
 	height: 100vh;
 	padding-bottom:1em;

 }
main{
	position: relative;
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
	
	
}
 .card-product{

 	margin-top: 0.5em;
 	position: relative;
 	overflow-y: auto;
 	border-radius: 1em;
    display: flex;
 	max-width: 45em;
 	height: 33em;
    background-color: #fff;
    overflow: hidden;
    margin: 0.93em;
 }

 .name{
	font-family:'Montserrat',sans-serif;
	font-weight: 500;
	font-size: 0.87em;
	color: #6c7289;
	letter-spacing: 0.48em;
}

.contenido{
padding: 2.5em;
display: flex;
flex-direction: column;
justify-content: space-between;
}

 .container-image, .contenido{
 	width: 50%;
 	height: 100%;
 	

 }
.container-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}




h1{
	font-size: 2.4em;
	font-family: 'Fraunces',serif;
	font-weight: 700;
	line-height: 1;
    color: #1c232b;
}

p{

	color: #6c7289;
	font-family:'Montserrat',sans-serif;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.8;
}


.precio{
	font-family: 'Fraunces',serif;
	font-weight: 700;
	font-size: 2.4em;
	display: flex;
	align-items: center;
    color:	#3c8067;
	

}
.offer{
	font-family:'Montserrat',sans-serif;
	font-weight: 200;
	font-size: 0.4em;
	margin-left: 1em;
	line-break: normal;
	color: #6c7289;
	text-decoration: line-through;
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5em;
	border-radius:0.5em;
	border-style: none;
	color: #fff;
	background-color:#3c8067;
	cursor: pointer;
	font-family:'Montserrat',sans-serif;
	font-weight: 500;

}
.button:hover{
	background-color: #1c3b30;
}

.button img{
	margin-right: 1em;
}
 .attribution { margin-bottom: 3em;
 	
 	align-items: end;
 	font-size: 11px; text-align: center; }
    .attribution a { color:#3e52a3; }

header{
	z-index: 2;
	width: 100%;
	height: 3em;
	position: relative;
	display: flex;
	justify-content: flex-end;
	background-color: #3c8067;
	margin-bottom: 0.5em

}
.carrito{
	 
	 background-color: #3c8067;
	 width: 4em;
	 height: 100%;
     position: relative;
     margin-right:1em;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
.carrito:hover{
	background-color: #1c3b30;
	transform: scale(1.1)
}
.carrito img{
	max-width: 100%;
	height: 70%;

	
}
.invisible{
	visibility: hidden;
}
.notificacion{
 
   	background-color: #d00;
   height: 1.5em;
   width: 1.5em;
   border-radius: 0.8em;
   position: absolute;
   right: 0;
   bottom: 0;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.barra{
	box-shadow: 0.5px 0.5px 5px #000;
	position: absolute;
	top: 3em;
	right: 0;
	height: 13em;
	width: 17em;
	border-radius: 1em;
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family:'Montserrat',sans-serif;
	font-weight: 500;
	font-size: 1em;


}
.barra span{
	padding: 2em;
    
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



@media (max-width: 768px) {
 .card-product{
 flex-direction: column;
  max-width: 21em;
  height: 38em;

 }
.name{
	letter-spacing: 0.5em;
	font-size: 0.7em
}
 .container-image{
 	width: 100%;
 	height: 40%;
 }
 .contenido{
 	width: 100%;
 	height: 60%;
 	padding: 1.5em
 }

 h1, .precio{
 	font-size: 2em;}

p{
	font-size: 0.81em;
}


 }

 

